//
   Created by benjamintanz on 09.06.15.

   Layout conventions:
      Format for ids of input-fields should always be like this: module-subfunction-type-value
      Example: boerse-options-text-strike or boerse-options-select-optiontype

extends layout

block content
  //- top banner
  div.section#calculator-banner
    div.container
      div.row
        div.col.s12.m9
          h4.header.center-on-small-only= obj.name
          h5.light.blue-text.text-lighten-4.center-on-small-only= obj.description


  //div.container
  div.row
    //-input component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          i.mdi-image-edit.small
          span.card-title.black-text &nbsp Eingaben

          p

          each input in obj.inputs
            //- template for text input fields
            if input.type === 'text'
              div.row.input
                div.input-field.col.s12
                  i(class='mdi-action-help prefix tooltipped', data-position='bottom', data-delay='50', data-tooltip=input.tooltip)
                  input(placeholder=input.placeholder, id=input.id, type=input.type, class="validate", value=input.value)
                  label(for=input.id)= input.label
            //- template for select input fields
            if input.type === 'select'
              div.row.input
                div.input-field.col.s12
                  i(class='mdi-action-help prefix tooltipped active', data-position='bottom', data-delay='50', data-tooltip=input.tooltip)
                  select(id=input.id)
                    each option, index in input.options
                      option(value=index)= option
                  label= input.label

          div.row.input.center-align
            a.waves-effect.waves-light.btn#btn-calculate
              i.mdi-content-send.right
              | Berechnen

    //- results component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          i.mdi-action-done-all.small
          span.card-title.black-text &nbsp Ergebnisse
          div#main-results

  div(class='row', style='display:none;')
    //- explanation component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          span.card-title.black-text Detailergebnisse
          p Raum für Detailergebnisse

    //- explanation component
    div.col.s12.m6
      div.card.blue.lighten-5
        div.card-content.black-text
          span.card-title.black-text Details zu diesem Rechner
          p Raum für Erklärungen

  //- handlebars templates to be used on the client for output
  script(id='main-results-template', type='text/x-handlebars-template')
    table.bordered
      tbody
        | {{#each obj}}
        tr
          td
            i(class='mdi-action-help prefix tooltipped', style='font-size:1.65rem',data-position='bottom', data-delay='50', data-tooltip='{{this.tooltip}}')
            | &nbsp {{this.description}}
          td(style='text-align: right') {{this.value}} {{this.unit}}
        | {{/each}}