//
   Created by benjamintanz on 19.08.15.

extends layout

block content
  //- sidebar on the right
  //include includes/sidebar
  div.row.wrapper.border-bottom.white-bg.page-heading
    div.col-lg-12
      h2 SimplyFi Guides
      h3=obj.designation
      h4
        a(href='/' + obj.guidelink.split('/')[1])
          i.fa.fa-arrow-circle-right.fa-lg
          | &nbsp Zum Rechner
    //
      ol.breadcrumb
        li
          a(href='/') Home
          a(href='/') Home again
  div.wrapper.wrapper-content
    div.row
      div.col-lg-12
        div
          div.ibox.float-e-margins
            div.ibox-content
              div.row
                div.col-md-5
                  h2
                    i.fa.fa-bullseye.text-lightblue &nbsp
                    | Ziel des Rechners
                  ul
                    li=obj.guidegoal
                  br
                  h2
                    i.fa.fa-question.text-lightblue &nbsp
                    | Diese Fragen beantwortet der Rechner
                  ol
                    each question in obj.guidequestions
                      li=question
                  br
                  - if (obj.guideaudience.length > 0)
                    h2
                      i.fa.fa-thumbs-up.text-lightblue &nbsp
                      | Wer von diesem Rechner profitiert
                    ul
                      each audience in obj.guideaudience
                        li=audience
                    br

                div.col-md-7
                  if obj.guidetext
                    h2
                      i.fa.fa-lightbulb-o.text-lightblue &nbsp
                      | So funktioniert der Rechner
                    div(style='margin-left:35px;')
                      p=obj.guidetext
                    br
                  h2
                    i.fa.fa-compass.text-lightblue &nbsp
                    | Die Berechnungsschritte
                  ol
                    each step in obj.guidesteps
                      li=step
                  br
                  - if (obj.guideresult.length > 0)
                    h2
                      i.fa.fa-compass.text-lightblue &nbsp
                      | Das Ergebnis
                    ul
                      each item in obj.guideresult
                        li=item
                    br
                  //h2
                    i.fa.fa-book.text-lightblue &nbsp
                    | Mehr Wissen
                  //each reference in obj.guidereferences
                    p=reference

