//-
   Created by benjamintanz on 09.06.15.

   Layout conventions:
      Format for ids of input-fields should always be like this: module-subfunction-type-value
      Example: boerse-options-text-strike or boerse-options-select-optiontype


extends layout

block content

  //- sidebar on the right
  //- include includes/sidebar

  div.row.wrapper.border-bottom.white-bg.page-heading
    div.col-lg-12
      h2= obj.designation
      h3= obj.description
      h4
        a(href=obj.guidelink)
          i.fa.fa-arrow-circle-right.fa-lg
          | &nbsp Erfahren Sie mehr im Guide

    //-
      ol.breadcrumb
        li
          a(href='/') Home
          a(href='/') Home again

  div.wrapper.wrapper-content
    div.row.masonry-container
      div.col-lg-6.item.item-masonry
        div.ibox.float-e-margins
          div.ibox-title
            h5
              i.fa.fa-edit.fa-lg.text-lightblue &nbsp
              | Eingaben

          div.ibox-content
            form
              each input in obj.inputs
                - var rank = input.secondary ? 'm-l-lg' : ''
                - var hide = input.hide ? 'hide' : ''
                //- template for text input fields
                if input.type === 'text'
                  if input.linetop
                    div.hr-line-dashed
                  div.form-group(class=rank, class=hide)
                    label(for=input.id)
                      | #{input.label} &nbsp
                      i(class='fa fa-question-circle fa-lg', data-toggle='tooltip', data-placement='top', title=input.tooltip)
                    if input.addon
                      div.input-group
                        input(placeholder=input.placeholder, disabled=input.disabled==1, id=input.id, type=input.type, value=input.value, class="form-control")
                        span.input-group-addon= input.addon
                    else
                      input(placeholder=input.placeholder, disabled=input.disabled==1, id=input.id, type=input.type, value=input.value, class="form-control")

                //- template for number input fields
                if input.type === 'number'
                  if input.linetop
                    div.hr-line-dashed
                  div.form-group(class=rank, class=hide)
                    label(for=input.id)
                      | #{input.label} &nbsp
                      i(class='fa fa-question-circle fa-lg', data-toggle='tooltip', data-placement='top', title=input.tooltip)
                    if input.addon
                      div.input-group
                        input(placeholder=input.placeholder, disabled=input.disabled==1, id=input.id, type=input.type, value=input.value, class="form-control")
                        span.input-group-addon= input.addon
                    else
                      input(placeholder=input.placeholder, disabled=input.disabled==1, id=input.id, type=input.type, value=input.value, class="form-control")

                //- alternative template for number-select input fields
                if input.type === 'numberselect'
                  if input.linetop
                    div.hr-line-dashed
                  div.form-group(class=rank, class=hide)
                    label(for=input.id)
                      | #{input.label} &nbsp
                      i(class='fa fa-question-circle fa-lg', data-toggle='tooltip', data-placement='top', title=input.tooltip)
                    div.input-group
                      input(placeholder=input.placeholder, disabled=input.disabled == 1, id=input.id, type=input.type, value=input.value, class="form-control")
                      div.input-group-btn
                        button(id=input.idselect, value=input.selectedoption, data-toggle='dropdown', class='btn btn-white dropdown-toggle', type='button') #{input.labelselect}
                          span.caret
                        ul.dropdown-menu.pull-right
                          each option in input.options
                            li
                              a(href=option.id)= option.description


                //- template for select input fields
                if input.type === 'select'
                  if input.linetop
                    div.hr-line-dashed
                  div.form-group(class=rank, class=hide)
                    label(for=input.id)
                      | #{input.label} &nbsp
                      i(class='fa fa-question-circle fa-lg', data-toggle='tooltip', data-placement='top', title=input.tooltip)
                    select(id=input.id, class="form-control")
                      each option in input.options
                        - var optgroup = (option.description === '_OPTGROUP')
                          if optgroup
                            optgroup(label=option.id, selected=option.selected)
                          else
                            option(value=option.id, selected=option.selected)= option.description

                //- template for date input fields
                if input.type === 'date'
                  if input.linetop
                    div.hr-line-dashed
                  div.form-group(class=rank, class=hide)
                    label(for=input.id)
                      | #{input.label} &nbsp
                      i(class='fa fa-question-circle fa-lg', data-toggle='tooltip', data-placement='top', title=input.tooltip)
                    div.input-group.date
                      span.input-group-addon
                        i.fa.fa-calendar
                      input(type='text', id=input.id, value=input.value, class='form-control')

              button.btn.btn-primary.btn-block.m-t#btn-calculate Berechnen

      div.col-lg-6.item.item-masonry#results-1

      //- write us your feedback container
      div.col-lg-6.item.item-masonry#feedback

      div.col-lg-6.item.item-masonry#results-2

      div.col-lg-6.item.item-masonry#results-3

      div.col-lg-6.item.item-masonry#results-4

      div.col-lg-6.item.item-masonry#results-11

      div.col-lg-6.item.item-masonry#results-12

      div.col-lg-6.item.item-masonry#results-13





  //- handlebars templates to be used on the client for output

  //- main results template
  script(id='main-results-template', type='text/x-handlebars-template')
    div.ibox.float-e-margins
      div.ibox-title
        h5
          i.fa.fa-check-square-o.fa-lg.text-lightblue &nbsp
          |Ergebnisse

      div.ibox-content
        | {{#if obj.resultheadline}}
        h4 {{{obj.resultheadline}}}
        | {{/if}}
        table.table.table-striped
          thead
            | {{#each obj._1}}
            tr
              th(class='{{tableElemImportance this.importance}}')
                | {{this.description}} &nbsp
                | {{#unless this.omittooltip}}
                i(class='fa fa-question-circle fa-lg', data-toggle='tooltip', data-placement='top', title='{{this.tooltip}}')
                | {{/unless}}
              th(class='{{tableElemImportance this.importance}}', style='text-align: right') {{numFormat this.value this.digits this.type}}  {{this.unit}}
            | {{/each}}
        | {{#if obj.messages}}
        | {{#each obj.messages}}
        p.text-danger  - {{this.messageText}}
        | {{/each}}
        | {{/if}}

  //- main results error template
  script(id='main-results-error-template', type='text/x-handlebars-template')
    div.ibox.float-e-margins
      div.ibox-title
        h5
          i.fa.fa-check-square-o.fa-lg.text-lightblue &nbsp
          | Ergebnisse

      div.ibox-content
        h4.text-danger
          i.fa.fa-frown-o.fa-lg &nbsp
          | Hoppla
        p Das Ergebnis konnte leider nicht berechnet werden. Fehlt eine Angabe oder sind Angaben nicht korrrekt?
        | {{#if obj.errors}}
        p Folgende Meldungen helfen bei der Fehlersuche:
        | {{#each obj.errors}}
        //- XXX when in Production, switch true to this.errorPrint
        | {{#if true}}
        p.text-danger  - {{this.errorMessage}}
        | {{/if}}
        | {{/each}}
        | {{/if}}



  //- main results sever connection error template
  script(id='main-results-servererror-template', type='text/x-handlebars-template')
     div.ibox.float-e-margins
       div.ibox-title
         h5
           i.fa.fa-check-square-o.fa-lg.text-lightblue &nbsp
           | Ergebnisse
        div.ibox-content
         h4.text-danger
           i.fa.fa-frown-o.fa-lg &nbsp
           | Hoppla
         p Leider kann aktuell keine Verbindung zum Server hergestellt werden. Bitte versuchen Sie es später noch einmal.



  //- main results feedback template
  script(id='main-results-feedback-template', type='text/x-handlebars-template')
    div.ibox.float-e-margins
      div.ibox-title
        h5
          i.fa.fa-envelope.fa-lg.text-lightblue &nbsp
          | Wir freuen uns über Feedback!

      div.ibox-content#feedback-content
        p Konnten wir Ihnen mit diesem Rechner weiterhelfen? Haben Sie Verbesserungsvorschläge oder benötigen zusätzliche Funktionen? Wir arbeiten ständig an der Verbesserung der Produkte und freuen uns über Ihr Feedback!
        form
          div.form-group
            textarea.form-control#feedback-text(rows='3', placeholder='Ihr Text', style='resize: none')
          div.form-group
            input#feedback-name(placeholder='Ihr Name', type='text', class="form-control")
          div.form-group
            input#feedback-email(placeholder='Ihre E-Mail-Adresse (optional)', type='email', class="form-control")
            button.btn.btn-primary.m-t-sm#btn-feedback Absenden




  //- main results input in progress template
  script(id='main-results-input-template', type='text/x-handlebars-template')
    div.ibox.float-e-margins
      div.ibox-title
        h5
          i.fa.fa-check-square-o.fa-lg.text-lightblue &nbsp
          | Ergebnisse

      div.ibox-content
          p Bitte füllen Sie zunächst alle aktiven Eingabefelder aus und drücken Sie dann den 'Berechnen'-Button, um die Ergebnisse darzustellen.

  //- results chart1 template
  script(id='main-results-chart-template', type='text/x-handlebars-template')
    div.ibox.float-e-margins
      div.ibox-title
        h5
          i.fa.fa-area-chart.fa-lg.text-lightblue &nbsp
          | {{obj.title}}
      div.ibox-content
        p.ct-ylabel {{obj.label.y}}
        div.ct-chart.ct-golden-section(id='{{obj.id}}')
        p.ct-xlabel {{obj.label.x}}
        ul.ct-legend
          | {{#if obj.legend.[0]}}
          li.ct-series-a {{obj.legend.[0]}}
          | {{/if}}
          | {{#if obj.legend.[1]}}
          li.ct-series-b {{obj.legend.[1]}}
          | {{/if}}
          | {{#if obj.legend.[2]}}
          li.ct-series-c {{obj.legend.[2]}}
          | {{/if}}




  //- todo: Rework to switch / find more elegant solution
  //- include calculator specific templates
  - var boerse_fx = (obj.id === 'boerse-fx')
  if boerse_fx
    include includes/calculator/boerse-fx

  - var boerse_equityreturn = (obj.id === 'boerse-equityreturn')
  if boerse_equityreturn
    include includes/calculator/boerse-equityreturn

  - var planning_retire = (obj.id === 'planning-retire')
  if planning_retire
    include includes/calculator/planning-retire

  - var property_propertyreturn = (obj.id === 'property-propertyreturn')
  if property_propertyreturn
    include includes/calculator/property-propertyreturn

  - var property_rent = (obj.id === 'property-rent')
  if property_rent
    include includes/calculator/property-rent

  - var deposits_interest = (obj.id === 'deposits-interest')
  if deposits_interest
    include includes/calculator/deposits-interest

  - var deposits_savings = (obj.id === 'deposits-savings')
  if deposits_savings
    include includes/calculator/deposits-savings

  - var deposits_savingscheme = (obj.id === 'deposits-savingscheme')
  if deposits_savingscheme
    include includes/calculator/deposits-savingscheme

  - var debt_annuity = (obj.id === 'debt-annuity')
  if debt_annuity
    include includes/calculator/debt-annuity

  - var property_homesave = (obj.id === 'property-homesave')
  if property_homesave
    include includes/calculator/property-homesave

  - var property_buyrent = (obj.id === 'property-buyrent')
  if property_buyrent
    include includes/calculator/property-buyrent

  - var debt_repaysurrogat = (obj.id === 'debt-repaysurrogat')
  if debt_repaysurrogat
    include includes/calculator/debt-repaysurrogat

  - var property_mortgage = (obj.id === 'property-mortgage')
  if property_mortgage
    include includes/calculator/property-mortgage

  - var deposits_overnight = (obj.id === 'deposits-overnight')
  if deposits_overnight
    include includes/calculator/deposits-overnight

  - var boerse_portfolio = (obj.id === 'boerse-portfolio')
  if boerse_portfolio
    include includes/calculator/boerse-portfolio